/* змінні */
:root {
    --color-white: #fff;
    --color-black: #000;
    --button-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --color-decoration: #2196F3;
    --color-text: #757575;
    --color-title: #212121;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --color-button-active: #188CE8;
    --color-icon: #AFB1B8;
}

/* головне */
body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-text);
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.list {
    list-style-type: none;
}

.flex-list {
    display: flex;
}

.section {
    padding: 94px 0;
}

/* навігація */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--color-decoration);
}

.web {
    margin-right: 93px;
    padding: 24px 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    color: var(--color-decoration);
}

.studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    color: var(--color-black);
}

.home {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.1428;
    color: var(--color-decoration);
}

.navigation-list {
    align-items: center;
    gap: 50px;
    margin: 0;
}

.navigation-link {
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    ;
    color: #212121;
}

.contact-list {
    gap: 50px;
    margin: 0;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.contact-icon {
    margin-right: 10px;
    fill: var(--color-text);
}

.link:hover .contact-icon,
.link:focus .contact-icon {
    fill: var(--color-decoration);
}
/* шапка */
.hero-section {
    background-color: var(--footer-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url("../images/hero-image.jpg");
    background-size: 1600px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero-title {
    width: 696px;
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.main-button {
    width: 216px;
    height: 50px;
    background-color: var(--color-decoration);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-white);
}

.main-button:hover,
.main-button:focus {
    background-color: var(--color-button-active);
}

.btn {
    border: none;
    cursor: pointer;
}

/* особливості */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.specialty-list {
    gap: 30px;
}

.specialty-item {
    padding: 0;
}

.specialty-icon-background {
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--button-background-color);
}

.specialty-icon {
    display: block;
    width: 70px;
    height: 70px;
}

.specialty-title {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--color-title);
}

/* чим ми займаємось */
.service-section {
    padding-bottom: 94px;
}

.title {
    margin: 0 0 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-title);
}

.service-list {
    justify-content: space-between;
}

/* команда */
.team-section {
    background-color: var(--button-background-color);
}

.team-list {
    gap: 30px;
}

.team-item {
    background-color: var(--color-white);
    width: 270px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
}

.team-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;


}

.team-leader {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-title);
}

.competence {
    margin: 0;
    font-size: 16px;
}

.soc-list {
    display: flex;
    margin-top: 16px;
    gap: 10px;
}

.soc-icon {
    fill: var(--color-icon);
}

.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--color-decoration);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
    fill: var(--color-white);
}

/* Постійні клієнти */

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    display:block;
    padding: 16px 32px;
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    width: 170px;
}

.clients-link:hover,
.clients-link:focus {
    cursor: pointer;
    border: 1px solid var(--color-decoration);
}

.clients-icon {
    display: block;
    fill: var(--color-icon);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--color-decoration);
}


/* підвал */
.foot {
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.footer-container {
    display: flex;
}

.logo {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    color: var(--color-decoration);
}

.logo-footer {
    color: var(--color-white);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.map {
    color: var(--color-white);
    font-style: normal;
}

.contacts {
    color: var(--contacts-footer-text-color);
    font-style: normal;
}

.join {
    margin-left: 70px;
}

.join-header {
    font-size: inherit;
    line-height: 1.1428;
    text-align: left;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
}

.join-list {
    display: flex;
    gap: 10px;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
    background-color: var(--color-decoration);
}

.join-icon {
    fill: var(--color-white);
}


/* портфоліо */
.portfolio-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-menu {
    padding: 6px 22px;
    font-family: inherit;
    background-color: var(--button-background-color);
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    letter-spacing: inherit;
}

.portfolio-menu:hover,
.portfolio-menu:focus {
    background-color: var(--color-decoration);
    color: var(--color-white);
    /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
}

.project-list {
    flex-wrap: wrap;
    gap: 30px;
}

.project-list-shadow:hover {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
}

.project-item {
    display: block;
}

.project-description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.projects {
    margin: 0 0 4px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-title);
}

.project-type {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: inherit;
}